{% extends 'sitiocliente/base.html' %}
{%load static%}



{% block contenido %}

<script>

    $(document).ready(function(){
        $('#sel1').change(function(){
            if($('#sel1').val()!='Todos')
            {
                var filtro= $('#sel1').val();
                $('#cartasproductos').hide();
                $('#secfiltro').attr({class:"mt-5"})
            //     $('[class="'+filtro+'"]').clone().appendTo('#filtrado1')  no funciono
            //    alert(filtro)
                $('#filtrado1').children('.col-md-4').remove()
            }
            if($('#sel1').val()=='Todos')
            {
                $('#cartasproductos').show();
                $('#filtrado1').children().remove()
            }

           if($('#sel1').val()=='Indie'){
               $('.Indie').clone().appendTo('#filtrado1')
           }
        

           if($('#sel1').val()=='Carreras'){
               $('.Carreras').clone().appendTo('#filtrado1')
           }
           
           if($('#sel1').val()=='Plataformas'){
               $('.Plataformas').clone().appendTo('#filtrado1')
           }
           if($('#sel1').val()=='Aventura'){
               $('.Aventura').clone().appendTo('#filtrado1')
           }

           if($('#sel1').val()=='Narrativo'){
               $('.Narrativo').clone().appendTo('#filtrado1')
           }

           if($('#sel1').val()=='Multijugador'){
               $('.Multijugador').clone().appendTo('#filtrado1')
           }

           if($('#sel1').val()=='Supervivencia'){
               $('.Supervivencia').clone().appendTo('#filtrado1')
           }

           if($('#sel1').val()=='Terror'){
               $('.Terror').clone().appendTo('#filtrado1')
           }

           if($('#sel1').val()=='Simulador'){
               $('.Simulador').clone().appendTo('#filtrado1')
           }
        })
            // falta buscar por texto con un :contains() en card title

        $('#buscarnom').blur(function(){
            $('#filtrado1').children().remove();
            $('#filtrado1').show()
            var texto=  $('#buscarnom').val(); 
            $("h5:contains('"+ texto +"')").parents('.col-md-4').clone().appendTo('#filtrado1');
            if($("#filtrado1:contains('"+ texto +"')")){

                $('#cartasproductos').hide();
                $('#secfiltro').attr({class:"mt-5"})
            };
            
            if($("#buscarnom").val()==""){
                $('#cartasproductos').show();
                $('#filtrado1').children().remove()
                $('#filtrado1').hide()
            
            }
        });


        $(".btncart").click(function(){
            alert("Producto agregado a carrito")
        })
       //alert($('#buscarnom').val())
       // alert($('#sel1').val())
    });


</script>
  
 <!--======================================INICIO HEADER=================================================================-->
 

<!--=========================================================FIN   HEADER=================================================================-->

<!--=========================================================Inicio CATALOGO  =================================================================-->
<section id="barrabusqueda ">
    <div class="container">
        <nav id="navbarcat" class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center mt-5" style="border-radius: 35px;">
            <form class="form-inline" action="">
                <input class="form-control mr-sm-2 " type="text" placeholder="Buscar por nombre" id="buscarnom" value="">
                <select class="form-control" id="sel1">
                    <option>Todos</option>
                    <option>Aventura</option>
                    <option>Indie</option>
                    <option>Carreras</option>
                    <option>Plataformas</option>
                    <option>Narrativo</option>
                    <option>Multijugador</option>
                    <option>Supervivencia</option>
                    <option>Terror</option>
                    <option>Simulador</option>
                  </select>
                &nbsp;&nbsp;
                <button class="btn btn-success" >Buscar</button>
            </form>
        </nav>

    </div>
</section>

<section id="secfiltro equal-height-card">
    <div class="container ">
        <div class="row" id="filtrado1">
           

        </div>

        
    </div>
</section>
<section id="cartasproductos" class="mt-5">
    <div class="container">


        

        <div class="row filacartas equal-height-card">
            <div class="col-md-4 Indie Narrativo" >
                <div class="card text-center">
                    <img src=" {% static 'imagenes/juego_1_t.png' %} " class="card-img-top">
                    <div class="card body bg-dark text-light">
                        <h5 class="card-title">Before your eyes </h5>
                        <p class="card-text"> Aventura narrativa en primera persona <br> Precio: $4.500 </p>
                        <a href="Juego1.html" >Ir a detalle</a>
                        <button class="btn btncart"> <i class="fas fa-cart-plus" style="color:rgb(67, 67, 224)"></i></button>
                    </div>
                </div>

            </div>

            <div class="col-md-4 Plataformas Narrativo">
                <div class="card text-center">
                    <img src="../Imagenes/juego_2_t.png" class="card-img-top">
                    <div class="card body bg-dark text-light">
                        <h5 class="card-title">It takes two </h5>
                        <p class="card-text"> Aventura de plataformas colaborativo. <br>Precio: $34.500</p>
                        <a href="Juego2.html">Ir a Detalle</a>
                        <button class="btn btncart"> <i class="fas fa-cart-plus" style="color:rgb(67, 67, 224)"></i></button>
                    </div>
                </div>

            </div>
            <div class="col-md-4 Carreras Multijugador">
                <div class="card text-center  ">
                    <img src="../Imagenes/juego_3_d.jpg" class="card-img-top">
                    <div class="card body bg-dark text-light">
                        <h5 class="card-title">Forza Horizon 4 </h5>
                        <p class="card-text"> Juego de carreras multijugador mundo abierto <br> Precio:$5.000</p>
                        <a href="Juego3.html"> Ir a Detalle</a>
                        <button class="btn btncart"> <i class="fas fa-cart-plus" style="color:rgb(67, 67, 224)"></i></button>
                    </div>
                </div>

            </div>

            


        </div>

        <div class="row mt-5 ">
            <div class="col-md-4 Indie Simulador" >
                <div class="card text-center">
                    <img src="../Imagenes/juego_4.png" class="card-img-top">
                    <div class="card body bg-dark text-light">
                        <h5 class="card-title">Papers, Please </h5>
                        <p class="card-text"> Juego de simulación de puesto fronterizo <br>Precio: $4400 </p>
                        <a href="Juego4.html" >Ir a detalle</a>
                        <button class="btn btncart"> <i class="fas fa-cart-plus" style="color:rgb(67, 67, 224)"></i></button>
                    </div>
                </div>

            </div>

            <div class="col-md-4 Supervivencia Terror ">
                <div class="card text-center">
                    <img src="../Imagenes/juego_5.png" class="card-img-top">
                    <div class="card body bg-dark text-light">
                        <h5 class="card-title">Resident Evil Village </h5>
                        <p class="card-text"> Survival de terror con zombies <br>Precio: $39900</p>
                        <a href="Juego5.html">Ir a Detalle</a>
                        <button class="btn btncart"> <i class="fas fa-cart-plus" style="color:rgb(67, 67, 224)"></i></button>
                    </div>
                </div>

            </div>
            <div class="col-md-4 Aventura Multijugador">
                <div class="card text-center  ">
                    <img src="../Imagenes/juego_6_t.png" class="card-img-top">
                    <div class="card body bg-dark text-light">
                        <h5 class="card-title">Sea of Thieves </h5>
                        <p class="card-text"> Aventura en un mar repleto de piratas <br>Precio: $14900</p>
                        <a href="Juego6.html"> Ir a Detalle</a>
                        <button class="btn btncart"> <i class="fas fa-cart-plus" style="color:rgb(67, 67, 224)"></i></button>
                    </div>
                </div>

            </div>







    </div>
</section>



{% endblock contenido %}
