{% extends 'sitiocliente/base.html' %}
{%load static%}

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/bgdark.css'%}">
    
<section class="carruselindex mt-5">

    <div class="container" id="carindex1">
        <h2>Nuestros Juegos</h2>
        <div id="carruseljuegos" class="carousel slide carrusel-index" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#carruseljuegos" data-slide-to="0" class="active"></li>
                <li data-target="#carruseljuegos" data-slide-to="1"></li>
                <li data-target="#carruseljuegos" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-9 ">
                            <div class="container-fluid mr-0 p-0">
                                <img src="{%static 'imagenes/juego_1.jpg'%}" alt="Before your eyes">
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <div class="card ml-0 p-0 card-size-equal">
                                <div class="card-body bg-dark text-light ">
                                    <h4 class="card-title">Before your eyes</h4>
                                    <p class="card-text">Embárcate en una conmovedora aventura narrativa en primera
                                        persona, en
                                        la que dirigirás la historia —y alterarás su curso— con parpadeos. Esta
                                        innovadora
                                        técnica te permitirá sumergirte de lleno en un mundo repleto de recuerdos,
                                        mientras ves la vida pasar ante tus ojos.</p>
                                    <a href="Juegos/Juego1.html" class="card-link  ">Ir a detalle</a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="container-fluid mr-0 p-0">
                                <img src="{%static 'imagenes/juego_2_c.jpg'%}" alt="It takes two">
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <div class="card ml-0 p-0 card-size-equal">
                                <div class="card-body bg-dark text-light">
                                    <h4 class="card-title">It takes two</h4>
                                    <p class="card-text">Embárcate en la aventura más loca de tu vida con It Takes
                                        Two, un juego de plataformas multigénero exclusivamente cooperativo. Métete
                                        en la piel de Cody y May, una conflictiva pareja de humanos convertidos en
                                        muñecos por un hechizo.
                                        Juntos, deberán intentar a regañadientes salvar su relación rota. </p>
                                    <a href="Juegos/Juego2.html" class="card-link">Ir a detalle</a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="container-fluid mr-0 p-0">
                                <img src="{%static 'imagenes/Juego_3_c.png'%}" alt="Forza Horizon 4">
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <div class="card ml-0 p-0 card-size-equal">
                                <div class="card-body bg-dark text-light">
                                    <h4 class="card-title">Forza horizon 4</h4>
                                    <p class="card-text">Las estaciones dinámicas lo cambian todo en el mejor
                                        festival automovilístico del mundo. Ve por cuenta propia o únete a otros
                                        equipos para explorar la hermosa e histórica Gran Bretaña en un mundo
                                        abierto compartido.</p>
                                    <a href="Juegos/Juego3.html" class="card-link">Ir a detalle</a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#carruseljuegos" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next " href="#carruseljuegos" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div>
        </div>
    </div>
    <div class="container" >
        <div class=" container">
        <h2 class="mt-5">Nuestro Arte</h2>
        <div id="carruselarte" class="carousel slide carrusel-index" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#carruselarte" data-slide-to="0" class="active"></li>
                <li data-target="#carruselarte" data-slide-to="1"></li>
                <li data-target="#carruselarte" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-9 ">
                            <div class="container-fluid mr-0 p-0">
                                <img src="{%static 'imagenes/arte_1_c.jpg'%}" alt="Before your eyes">
                            </div>

                        </div>
                        <div class="col-lg-3">
                            <div class="card ml-0 p-0 card-size-equal">
                                <div class="card-body bg-dark text-light">
                                    <h4 class="card-title">DJ DOG</h4>
                                    <p class="card-text">Pieza de arte contemporanea, Representa vida nocturna y sus colores</p>
                                    <a href="Arte/Arte1.html" class="card-link">Ir a Detalle</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="container-fluid mr-0 p-0">
                                <img src="{%static 'imagenes/arte_2_c.png'%}" alt="It takes two">
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <div class="card ml-0 p-0 card-size-equal">
                                <div class="card-body bg-dark text-light">
                                    <h4 class="card-title">Plumas de colores</h4>
                                    <p class="card-text"> El mas simple tipo de arte pero a su vez llamativo.</p>
                                    <a href="Arte/Arte2.html" class="card-link">Ir a Detalle</a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="container-fluid mr-0 p-0">
                                <img src="{%static 'imagenes/arte_3_c.jpg'%}" alt="Forza Horizon 4">
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <div class="card ml-0 p-0 card-size-equal">
                                <div class="card-body bg-dark text-light">
                                    <h4 class="card-title">Conectividad</h4>
                                    <p class="card-text">Cada luz representa una conexion.</p>
                                    <button class="btn  btn-primary"> <a href="Arte/Arte3.html" class="card-link text-end">Ir a Detalle</a></button>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    

                </div>


                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#carruselarte" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#carruselarte" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
    
    </div>

</section>


{% endblock contenido %}
