
/* ============================INICIO NavBar Index================ */
#NavDropLink{
    color: whitesmoke;
}

#NavDropLink:hover{
    background-color: black;
}




/* ============================FIN NavBar Index================ */



/* ============================INICIO CARRUSEL Index================ */

/* #carruselindex img {
    width: 100%;
    height: 400px;
    size: 500px 400 px;
} */

.carruselindex h2{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.carrusel-index{
    width: 100%;
    height:400px;

}
 .carrusel-index img{
    width: 100%;
    height: 400px;
}


.card-size-equal{
    height: 400px;
    
}

.equal-height-card{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

@media(max-width:999px){
    #carindex1{
        height: 750px;
    }
}
/* ============================FIN CARRUSEL Index====== ========================= */



/*  ===========================INICIO FORMULARIOS LOG ===========================  */

.logcontenedor input[type="text"], .logcontenedor input[ type="password"], .logcontenedor input[type="email"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    background: none;
    
    
    
}

.logcontenedor input[type="text"]::placeholder, .logcontenedor input[ type="password"]::placeholder , .logcontenedor input[type="email"]::placeholder{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    background: none;
    
    
}
.logcontenedor input[type="text"]:focus, .logcontenedor input[ type="password"]:focus, .logcontenedor input[type="email"]:focus{
    outline: none;
}
.logbutton{
    border: none;
    width: 100%;
    
    font-size: 20px;
    
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.input-contenedor{
    margin-bottom: 10px;
    border: 1px solid  #181818;
    
}
.logicon{
    margin-left: 10px;
    min-width: 50px;
    text-align: center;
    
}

.FormularioLog h3{
    text-align: center;
}
.logform{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 8%;
    
}

@media(min-width:994px){
    .logform{
        margin: auto;
        width: 500px;
        margin-top: 8%;
        margin-bottom: 200px;
    }
    .boxlogright{
        border-left: 1px solid rgb(26, 26, 26);
    }
    .boxlogleft{
        border-bottom: none;
    }
}


@media(max-width:991px){
    .boxlogleft{
        border-bottom: 1px solid rgb(27, 27, 27);
        margin-bottom: 5%;
    }
}
/*  ===========================FIN FORMULARIOS LOG ==============================  */


/*  ===========================INICIO TABLA CARRITO ==============================  */

.itemscart img{
    width: 150px;
    height: 80px;
}








/*  ===========================FIN TABLA CARRITO    ==============================  */

/*  ===========================Inicio LISTA DESEOS    ==============================  */

    .itemscart a{
        text-decoration: none;
        color: #181818;
    }

/*  ===========================FIN LISTA DESEOS    ==============================  */

/*  ===========================INICIO ADMIN   ==============================  */

.Logadmin{
    width: 35%;
    margin: auto;
    margin-top: 15%;
}







/*  ===========================FIN   ADMIN   ==============================  */



/*
*{
    border-width: 1px;
    border-color: rgb(128, 14, 14);
    border-style: solid;
    
} */